body {
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 450px;
    padding-right: 450px;
}

.first-header {
    display:flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-bottom: 125px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 24px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.second-header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-bottom: 125px;
    gap: 75px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    gap: 8px;
    flex-shrink: 1;
}

.left-side h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
    flex-shrink: 1;
}

.left-side p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    flex-shrink: 1;
}

.left-side .registrar {
   background-color: #3882F6;
   padding: 10px;
   border: 10px;
   border-radius: 10px;
   flex-shrink: 1; 
}

.right-side {
    display: flex;
    width: 525px;
    height: 235px;
    flex-shrink: 1;
}

.right-side .header-img {
    flex: 1 1 250px;
    width: 100%;
    height: 100%;
}

.header-img {
    min-width: 100px /* this keeps the child from overflowing it's container. Update: only sometimes. */
}